{% extends "layout.html" %}

{% block styles %}
  {{super()}}
{% endblock %}
{% block page %} 
<div class="jumbotron">
<div class='container'>
<div class="row">
  <div class="col-12 col-md-3" style="padding-left: 50px;">
    <div id="judgeViewOpt">
      <h4>Options</h4>
      Status types:
      </br>
      <input type="checkbox" name="display_tag" value="Accepted"/>
      <label class="checkbox-inline">Accepted</label>
      </br>
      <input type="checkbox" name="display_tag" value="In-Progress"/>
      <label class="checkbox-inline">In-progress</label>
      </br>
      <input type="checkbox" name="display_tag" value="Submitted"/>
      <label class="checkbox-inline">Submitted</label>
      </br>
      <input type="checkbox" name="display_tag" value="RSVPed"/>
      <label class="checkbox-inline">RSVPed</label>
      </br>
      <input type="checkbox" name="display_tag" value="Declined"/>
      <label class="checkbox-inline">Declined</label>
      </br>
      <input type="checkbox" name="display_tag" value="Rejected"/>
      <label class="checkbox-inline">Rejected</label>
      </br>
      <input type="checkbox" name="display_tag" value="Not Started"/>
      <label class="checkbox-inline">Not Started</label>
       <form class="form-inline" action="{{ url_for('judging.update_page_size', page=page) }}" method="post">
         <div id="pageSize" class="form-group">
            <label for="page_size">Entries per page: </label>
	    <input type="number" class="form-control" id="page_size" name="page_size" placeholder="{{page_size}}" />
	    <button type="submit" class="btn btn-primary">Go</button>
          </div>
          </form>
    </div>
  </div>
  <div class="col-12 col-md-9">
  <h4>Applicants</h4>    
  <table style="width:100%" id="judgingTable">
  <tr>
    {%for i in range(headers|length)%}
    <th>{{headers[i]}}</th>
    {%endfor%}
  </tr>
  {% for i in info %}
  <tr class='{{i.status}}'>
	  <td>{{page*page_size+loop.index}}. {{i.first_name}} {{i.last_name}} </td>
	  <td> {{i.status}}{{i.caltech_waiver_status}} </td>
	  <td> {{i.medical_info_status}}</td>
	  <td><a href="{{i.link}}">Go</a></td>
  </tr>
  {% endfor %}
</table>
  {%if page > 0%}
  <a href="{{ url_for(request.endpoint, page=page-1) }}"> Prev Page </a>
  {%endif%}

  <div id="pageJumpDiv">
    <div>
	{%if page >= 3 %}
	<a href="{{ url_for(request.endpoint, page=0) }}">1...</a>
	{%endif%}
	{%for i in range(2, 0, -1)%}
	  {%if page - i >= 0%}
	    <a href="{{ url_for(request.endpoint, page=page-i) }}"> {{page-i+1}} </a>  	
	  {%endif%}
  	{%endfor%}	
	 <a id="pageJumpCurPage" href="{{ url_for(request.endpoint, page=page) }}"> {{page+1}} </a>
	{%for i in range(1, 3)%}
          {%if page + i < total_pages%}
            <a href="{{ url_for(request.endpoint, page=page+i) }}"> {{page+i+1}} </a>
          {%endif%}
        {%endfor%}
	{%if page < total_pages - 3 %}
	<a href="{{ url_for(request.endpoint, page=total_pages - 1)}}">...{{total_pages}}</a>
        {%endif%}
    </div>
  </div>
  {%if total_pages > page + 1%}
  <a href="{{ url_for(request.endpoint, page=page+1) }}" id="nextPage"> Next Page </a>
  {%endif%}
  </div>
</div>
</div>
</div>
{% block scripts %}
  {{ super() }}
  <script>
    $('#judgeViewOpt :checkbox').prop('checked', true);
    // Bind visible checkboxes.
    $('#judgeViewOpt :checkbox').change(function() {
      toggle($(this).val(), this.checked);
    });  
    function toggle(tag, visibility){
      $("tr").each( function (){
        if ($(this).hasClass(tag))
        {
            $(this).toggle(visibility);
        }
      });
    }
  </script>
{% endblock %}
{% endblock %}
