{% extends "layout.html" %}

{% block styles %}
  {{super()}}
{% endblock %}
{% block page %} 
<div class="jumbotron">
<div class="row">
  <div class="col-12 col-md-4" style="padding-left: 50px;">
    Status types:

    </br>
    <label class="checkbox-inline">Accepted</label>
    <input type="checkbox" name="display_tag" value="Accepted"/>
    </br>

    <label class="checkbox-inline">In-progress</label>
    <input type="checkbox" name="display_tag" value="In-Progress"/>

    </br>
    <label class="checkbox-inline">Submitted</label>
    <input type="checkbox" name="display_tag" value="Submitted"/>

</br>
    <label class="checkbox-inline">RSVPed</label>
    <input type="checkbox" name="display_tag" value="RSVPed"/>

    </br>
    <label class="checkbox-inline">Declined</label>
    <input type="checkbox" name="display_tag" value="Declined"/>

    </br>
    <label class="checkbox-inline">Rejected</label>
    <input type="checkbox" name="display_tag" value="Rejected"/>

    </br>
    <label class="checkbox-inline">Not Started</label>
    <input type="checkbox" name="display_tag" value="Not Started"/>
  </div>
  <div class="col-12 col-md-8">
    <table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Link</th>
  </tr>
  {% for i in info %}
  <tr class='{{i.status}}'>
	  <td> {{i.first_name}} {{i.last_name}} </td>
	  <td> {{i.status}} </td>
	  <td> <a href={{i.link}} >Go</a></td>
  </tr>
  {% endfor %}
</table>

  </div>
</div>
</div>
{% block scripts %}
  {{ super() }}
  <script>
    $(':checkbox').prop('checked', true);
    // Bind visible checkboxes.
    $(':checkbox').change(function() {
      toggle($(this).val(), this.checked);
    });  
    function toggle(tag, visibility){
      $("tr").each( function (){
        if ($(this).hasClass(tag))
        {
            $(this).toggle(visibility);
        }
      });
    }
  </script>
{% endblock %}
{% endblock %}
