{% extends "layout.html" %}

{% block styles %}
  {{super()}}
{% endblock %}
{% block page %} 
  <div class = "jumbotron col-md-8 col-md-offset-2">
    <h2 class="text-center">Judging</h2>
    {% if info != None %}

      <label>Name: </label>
      {{info.first_name}} {{info.middle_name}} {{info.last_name}}
     
      <br>
      <label>18?: </label>
      {{info.is_18}}

      <br>
      <label>Phone Number: </label>
      {{info.phone}}

      <hr/>
      <label>School: </label>
      {{info.school}}

      <br/>
      <label>Major: </label>
      {{info.major}}

      <br/>
      <label>Degree Type: </label>
      {{info.degree_type}}

      <br/>
      <label>Graduation Year: </label>
      {{info.graduation_year}}

      <hr/>
      <label>GitHub Link: </label>
      <a href={{ "https://github.com/" ~ info.github}}>{{"https://github.com/"~info.github}}</a>

      <br/>
      <label>Linkedin Link: </label>
      <a href={{ "https://linkedin.com/in/" ~ info.linkedin}}>{{"https://linkedin.com/in/"~info.linkedin}}</a>

      <hr/>
      <label>Latino: </label>
      {{info.latino}}

      <br/>
      <label>Gender: </label>
      {{info.gender}}

      <br/>
      <label>Shirt Size: </label>
      {{info.shirt_size}}
            
      <hr/>
      <label>Transportation: </label>
      {{info.transportation}}
      
      <br/>
      <label>In state: </label>
      {{info.in_state}}
      
      <br/>
      <label>Bus From: </label>
      {{info.bus_from}}

      
      <br/>
      <label>Airport: </label>
      {{info.airport}}
      
      <hr/>
      <label>Why would you like to come to Hacktech 2022? </label>
      <br/>
      {{info.q1}}

      <hr/>
      <label>How did you stay connected with your friends/family over quarantine? Without technological limitations, how would you stay connected virtually? </label>
      <br/>
      {{info.q2}}

      <hr/>
      <label>Share one interesting thing - a math problem, history fact, mechanism to manufacture something, anything. </label>
      <br/>
      {{info.q3}}

      <hr/>
      <label>We want to improve Hacktech -- what would you like to see at Hacktech this year? Is there anything else you want us to know about you? </label>
      <br/>
      {{info.q4}}

      <hr/>
      <label>What virtual events would you like to see at Hacktech? (video game tournaments, Kahoot, minecraft server) </label>
      <br/>
      {{info.q5}}

      <hr/>
      <label>(https://nypost.com/2021/12/24/japanese-professor-invents-lickable-taste-the-tv-screen/) If your laptop screen could suddenly taste like any food in the world, what would it be? </label>
      <br/>
      {{info.q6}}
      <hr/>

      {% if info.resume is not none %}

      <div style="position: relative; text-align: center; height: 0; padding-bottom: 100%; overflow: hidden">
	      <iframe
			src={{info.resume_url}}
			frameBorder="0"
			seamless="seamless"
			style="margin: auto; position: absolute; top: 0; left: 0; width: 70%; height: 100%"
		></iframe>
      </div>
      {%else %}
	<p> No resume submitted! </p>
      {%endif%}
      <form action="{{ url_for('judging.update_status', user_id=info.user_id) }}" method="post">
      <div class="form-group">      
        <label> Reimbursement Amount </label>
	<div class="input-group">
   	  <span class="input-group-addon">$</span>
	  <input type="numbers" class="form-control" id="reimbursement_amount" value={{status.reimbursement_amt}} name="reimbursement_amount">
	</div>
      </div>
      <select class="form-control" name='new_status'>
        <option>Choose...</option>
	<option value="Accepted" {%if status.status == "RSVPed" or status.status == "Accepted" or status.status == "Declined"%} selected {%endif%}>Accept</option>
	<option value="Rejected" {%if status.status == "Rejected" %} selected {%endif%}>Reject</option>
      </select>
      <button type="submit" class="btn btn-default">Go</button>
      </form>
    {% else %}
      <p> User has not submitted their applications. </p>

    {% endif %}
 </div>
{% endblock %}
