
<div id="footer" class="col-md-12">
        <div id="footer-credit">
            <div id="social">
              <a href="http://twitter.com/theHackTech" target="_blank"><img class="socialicon" src="{{  url_for('static', filename='images/twitter.png')  }}""></a>
                                    <a href="http://facebook.com/theHackTech" target="_blank"><img class="socialicon" src="{{  url_for('static', filename='images/facebook.png')  }}""></a>
                                    <a href="https://www.linkedin.com/company/hacktech" target="_blank"><img class="socialicon" src="{{  url_for('static', filename='images/linkedin.png')  }}""></a>
              <a href="mailto:team@hacktech.app" target="_blank"><img class="socialicon" src="{{  url_for('static', filename='images/email.png')  }}""></a>
            </div>
            ©2021 Hacktech<br/>
            All other trademarks and logos ® their respective owners.<br />
            Made by the Hacktech team with ♥
        </div>
</div>
