{% extends "layout.html" %}

{% block styles %}
  {{super()}}
{% endblock %}
{% block page %}
<div class = "jumbotron">
    <div id="application_form" class="col-md-8 col-md-offset-2">
    <h2 class="text-center">Hacktech Application</h2>
    <p class"text-center"> Get pumped for Hacktech 2020 and apply today! Please note that all fields with asterisks (*) are required. </p>
    <form action="{{url_for('applications.update_applications')}}" method="post"} enctype="multipart/form-data">
      <div class="form-group">
        <label for="phoneNumber">Phone Number *</label>
	<input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
      </div>
 
      <div class="form-group">
        <label for="school">School *</label>
        <input type="text" class="form-control" id="school" name="school">
      </div>

      <div class="form-group">
        <label for="major">Major</label>
        <input type="text" class="form-control" id="major" name="major">
      </div>

      <div class="form-group">
        <label for="degreeType">What is your year of study? *</label>
      <select name="degreeType">
        <option value="">Choose...</option>
        <option value="High School">High School</option>
        <option value="Undergraduate">Undergraduate</option>
        <option value="Graduate">Graduate</option>
        <option value="Postdoc">Postdoc</option>
      </select>
      </div>

      <div class="form-group">
        <label for="graduationYear">What is your expected graduation date? *</label>
      <select name="graduationYear">
	 <option value="">Choose...</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024+">2024+</option>
      </select>
      </div>

      <div class="form-group">
        <label for="shirtSize">What is your shirt size? *</label>
          <select name="shirtSize">
            <option value="">Choose...</option>
            <option value="XS">Extra Small</option>
            <option value="S">Small</option>
            <option value="M">Medium</option>
            <option value="L">Large</option>
            <option value="XL">Extra Large</option>
         </select>
      </div>

      <div class="form-group">
        <label for="needTransportation">Will you be needed transportation to Hacktech 2020? *</label>
          <select name="needTransportation">
            <option value="">Choose...</option>
            <option value="no">No, I've got it handled!</option>         
            <option value="insideCA">Yes, I will be traveling from CA.</option>
            <option value="outsideCA">Yes, I will be traveling from outside of CA.</option>
        </select>
      </div>

      <div class="form-group">
        <label for="busFrom">If you are traveling from CA, which of the following schools would you prefer to bus from? Please choose the closest school. </label>
          <select name="busFrom">
            <option value="N/A">Not Applicable</option>
            <option value="UCLA">UCLA</option>
            <option value="UC Berkeley">UC Berkeley</option>
            <option value="Stanford">Stanford</option>
            <option value="UCSD">UCSD</option>
            <option value="USC">USC</option>
         </select>
      </div>

     <div class="form-group">
        <label for="airport">We will be able to provide travel reimbursement on a case-by-case basis only. If you plan on flying, which airport will you be traveling from?</label>
        <input type="text" class="form-control" id="airport" name="airport">
      </div>

      <div class="form-group">
        <label for="dietaryRestrictions">Do you have any dietary restrictions? *</label>
          <select name="dietaryRestrictions">
            <option value="">Choose...</option>
	    <option value="True">Yes</option>
            <option value="False">No</option>
         </select>
     </div>

      <div class="form-group">
	      <label for="dietaryRestrictionsChoices">What restrictions?</label>
          <input type="checkbox" name="dietaryRestrictionsChoices" value="Vegetarian">  Vegetarian
	  <input type="checkbox" name="dietaryRestrictionsChoices" value="Vegan">  Vegan
	  <input type="checkbox" name="dietaryRestrictionsChoices" value="Gluten-free">  Gluten-free 
	  <input type="checkbox" name="dietaryRestrictionsChoices" value="Kosher">  Kosher 
	  <input type="checkbox" name="dietaryRestrictionsChoices" value="Halal">  Halal  
	  <input type="checkbox" name="dietaryRestrictionsChoices" value="Allergy">  Food Allergy (please specify below) <br> 
     </div>

     <div class="form-group">
        <label for="dietaryRestrictionsDetail">Please specify any details about your dietary restrictions: </label>
     	<textarea class="form-control" id="dietaryRestrictionsDetail" name="dietaryRestrictionsDetail" ></textarea>
     </div>

     <div class="form-group">
        <label for="Q1">Why would you like to come to Hacktech 2020? *</label>
	<textarea  class="form-control" id="Q1" name="Q1"></textarea>
     </div>

     <div class="form-group">
        <label for="Q2">You just stepped off a time machine 20 years into the future. What is the first thing that catches your eye? *</label>
	<textarea  class="form-control" id="Q2" name="Q2"></textarea>
     </div>

     <div class="form-group">
        <label for="Q3">The theme for Hacktech this year is "20/20 Vision: Connecting to the Future". Write a short haiku related to this theme. *</label>
	<textarea  class="form-control" id="Q3" name="Q3"></textarea>
     </div>

     <div class="form-group">
        <label for="Q4">We want to improve Hacktech -- what would you like to see at Hacktech this year? Is there anything else you want us to know about you? *</label>
	<textarea  class="form-control" id="Q4" name="Q4"></textarea>
     </div>

      <div class="form-group">
        <label for="github">What is your GitHub?</label>
        <input type="text" class="form-control" id="github" name="github">
      </div>

      <div class="form-group">
        <label for="linkedin">What is your LinkedIn?</label>
        <input type="text" class="form-control" id="linkedin" name="linkedin">
      </div>

      <div class="form-group">
        <label for="resume">Please upload your resume in PDF or DOC format (less than 500 KB only): *</label>
        <input type="file" class="form-control" id="resume" name="resume">
      </div>
 
      <p class"text-center">  We want Hacktech to be an inclusive space for all participants.  The following questions are optional: </p>
      <div class="form-group">
        <label for="latino">Are you Hispanic or Latino?</label>
          <select name="latino">
            <option value="False">Prefer not to answer</option>
            <option value="True">Yes</option>
            <option value="False">No</option>
         </select>
      </div>
  
      <div class="form-group">
        <label for="race">What is your race or ethnicity?</label> 
          <input type="checkbox" name="race" value="Asian">  Asian
	  <input type="checkbox" name="race"  value="Black">  Black/African
	  <input type="checkbox" name="race" value="Caucasian">  Caucasian 
	  <input type="checkbox" name="race" value="Latino">  Hispanic/Latinx 
	  <input type="checkbox" name="race" value="Native American">  Native American  
	  <input type="checkbox" name="race" value="Pacific Islander">  Pacific Islander  
	  <input type="checkbox" name="race" value="No Answer">  Prefer Not to Answer  
	  <input type="checkbox" name="race" value="Other">  Other <br> 
      </div>

      <div class="form-group">
        <label for="gender">What is your gender?</label>
          <select name="gender">
            <option value="P">Prefer not to answer</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
         </select>
      </div>
     <div class="form-group">
        <label for="codeOfConduct">I've read and understood the MLH code of conduct and the MLH data sharing provision. *</label>
          <select name="codeOfConduct">
            <option value="">Choose...</option>
            <option value="True">Yes</option>
            <option value="False">No</option>
         </select>
      </div>


      <button type="submit" class="btn btn-success" value="Save" name="Save">Save</button> 
      <button type="submit" class="btn btn-success" value="Submit" name="Submit">Submit Application!</button>
    </form>
    </div>
</div>
 {% endblock %}
