{% extends "layout.html" %}

{% block styles %}
  {{super()}}
{% endblock %}
{% block scripts %}
  {{super()}}
  <script> 
	  $('.diet-extra').hide();
          $('.travel-CA').hide();
          $('.travel-airport').hide();
    $('input:radio[name=dietaryRestrictions]').change(function() {
        if (this.value == 'True') {
          $('.diet-extra').show();
	}
        else{
          $('.diet-extra').hide();
	}
    });

    $('#needTransportation').change(function() {
        if (this.value !== 'no') {
	  $('.travel-airport').show();
	  if(this.value === "insideCA")
	  {
            $('.travel-CA').show();
	  } else {
	    $('.travel-CA').hide();
	  }
        }
        else{
          $('.travel-CA').hide();
          $('.travel-airport').hide();
        }

    });
  </script>
{% endblock %}
{% block page %}
<div class = "jumbotron">
    <div id="application_form" class="col-md-8 col-md-offset-2">
    <h2 class="text-center">Hacktech 2021 Application</h2>
    <form action="{{url_for('applications.update_applications')}}" method="post"} enctype="multipart/form-data">
        <p><small> The application period has ended! Check your email and our <a href="https://www.facebook.com/thehacktech/">facebook page</a> for status updates!</p>
      {%if submitted%}
        <p><small> Thanks for applying! Please check the status page for any updates, and contact team@hacktech.io if you have any questions!  </small></p>  
      {%else%}
        <p><small> We're so pumped to see you at Hacktech 2021, so don't forget to apply! Please note that all fields with asterisks (*) are required. </small></p>
      {%endif%}
      <hr>
      <div class="row">
        <div class="form-group col-md-4 {{validations.first_name}}">
	  <label class="control-label"  for="firstName">First Name *</label>
	  <input type="text" class="form-control" name="firstName" value="{{form_info.first_name}}">
        </div>
        <div class="form-group col-md-4">
	  <label for="middleName">Middle Name </label>
	  <input type="text" class="form-control" id="middleName" name="middleName" value="{{form_info.middle_name}}">
        </div>
        <div class="form-group col-md-4 {{validations.last_name}}">
          <label class="control-label" for="lastName">Last Name *</label>
	  <input type="text" class="form-control" id="lastName" name="lastName" value="{{form_info.last_name}}">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12">
          <label for="preferredName">Preferred Name </label>
	  <input type="text" class="form-control" id="preferredName" name="preferredName" value="{{form_info.preferred_name}}">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12 {{validations.phone}}">
	  <label class="control-label" for="phoneNumber">Phone Number * </label>
	  <input type="text" class="form-control" name="phoneNumber" value="{{form_info.phone}}">
        </div>
      </div>
      <div class="row">
	  <div class="form-group col-md-8 {%if form_info.school != "N/A"%} {{validations.school}} {%endif%}">
          <label class="control-label" for="school">School *</label>
	  <select class="form-control" name="school">
	    <option value="">Choose...</option>
	    {% for school in schools %}
	    	<option {%if form_info.school == school %} selected {%endif%} value="{{school}}">{{school}}</option>
            {%endfor%}	
	  </select>
        </div>
        <div id="school_opt" class="form-group col-md-4 {%if form_info.school == "N/A"%} {{validations.school}} {%endif%}">
	  <label class="control-label" for="school">If you choose N/A, type here </label>
	  <input type="text" class="form-control" name="school_opt" value="{{form_info.school_opt}}">
	</div>
      </div>

      <div class="row">
        <div class="form-group col-md-8">
        <label for="major">Major</label>
	<select class="form-control {{validations.major}}" name="major">
          <option value="">Choose...</option>
          {% for major in majors %}
	  <option {%if form_info.major == major %} selected {%endif%} value="{{major}}">{{major}}</option>
          {%endfor%}
        </select>
	</div>
        <div id="major_opt" class="form-group col-md-4">
          <label for="major">If you choose N/A, type here </label>
	  <input type="text" class="form-control" name="major_opt" value="{{form_info.major_opt}}">
        </div>
      </div>

      <div class="row">
	      <div class="form-group col-md-6 {{validations.degree_type}}">
          <label class="control-label"  for="degreeType">What is your year of study? *  </label>
	  <select class="form-control" name="degreeType">
            <option value="">Choose...</option>
            <option {%if form_info.degree_type == "High School" %} selected {%endif%} value="High School">High School</option>
            <option {%if form_info.degree_type == "Undergraduate" %} selected {%endif%} value="Undergraduate">Undergraduate</option>
            <option {%if form_info.degree_type == "Graduate" %} selected {%endif%} value="Graduate">Graduate</option>
            <option {%if form_info.degree_type == "Postdoc" %} selected {%endif%} value="Postdoc">Postdoc</option>
          </select>
	</div>
	<div class="form-group col-md-6 {{validations.graduation_year}}">
          <label class="control-label"  for="graduationYear">What is your expected graduation year? *</label>
          <select class="form-control" name="graduationYear">
	    <option value="">Choose...</option>
            <option {%if form_info.graduation_year == "2021" %} selected {%endif%} value="2021">2021</option>
            <option {%if form_info.graduation_year == "2022" %} selected {%endif%} value="2022">2022</option>
            <option {%if form_info.graduation_year == "2023" %} selected {%endif%} value="2023">2023</option>
            <option {%if form_info.graduation_year == "2024" %} selected {%endif%} value="2024">2024</option>
            <option {%if form_info.graduation_year == "2025" %} selected {%endif%} value="2025">2025+</option>
          </select>
	</div>
      </div>

      <div class="row">
	      <div class="form-group col-md-12 {{validations.shirt_size}}">
        <label class="control-label" for="shirtSize">What is your shirt size? *</label>
          <select class="form-control" name="shirtSize">
            <option value="">Choose...</option>
            <option {%if form_info.shirt_size == "XS" %} selected {%endif%} value="XS">Extra Small</option>
            <option {%if form_info.shirt_size == "S" %} selected {%endif%} value="S">Small</option>
            <option {%if form_info.shirt_size == "M" %} selected {%endif%} value="M">Medium</option>
            <option {%if form_info.shirt_size == "L" %} selected {%endif%} value="L">Large</option>
            <option {%if form_info.shirt_size == "XL" %} selected {%endif%} value="XL">Extra Large</option>
         </select>
        </div>
      </div>

      <!-- Hacktech 2021 is virtual, so the following transportation and dietary information is unnecessary
      <hr>
      <div class="form-inline">
	      <div class="form-group {{validations.transportation}}">
          <label class="labelSpace control-label" for="needTransportation">Will you need transportation to Hacktech 2020? *</label>
          <select id="needTransportation" class="form-control" name="needTransportation">
            <option value="">Choose...</option>
            <option {%if form_info.transportation == False %} selected {%endif%} value="no">No, I've got it handled!</option>         
            <option {%if form_info.transportation == True and form_info.in_state == True %} selected {%endif%} value="insideCA">Yes, I will be traveling from CA.</option>
            <option {%if form_info.transportation == True and form_info.in_state == False %} selected {%endif%} value="outsideCA">Yes, I will be traveling from outside of CA.</option>
          </select>
        </div>
      </div>

      <div class="form-inline travel-CA">
        <div class="form-group">
          <label for="busFrom" class="labelSpace" >If you are traveling from CA, which of the following schools would you prefer to bus from? Please choose the closest school. </label>
          <select class="form-control" name="busFrom">
            <option value="N/A">Not Applicable</option>
            <option {%if form_info.bus_from == "UCLA" %} selected {%endif%} value="UCLA">UCLA</option>
            <option {%if form_info.bus_from == "UC Berkeley" %} selected {%endif%} value="UC Berkeley">UC Berkeley</option>
            <option {%if form_info.bus_from == "Stanford" %} selected {%endif%} value="Stanford">Stanford</option>
            <option {%if form_info.bus_from == "UCSD" %} selected {%endif%} value="UCSD">UCSD</option>
            <option {%if form_info.bus_from == "USC" %} selected {%endif%} value="USC">USC</option>
           </select>
        </div>
      </div>

     <div class="form-group travel-airport">
        <label for="airport">We will be able to provide travel reimbursement on a case-by-case basis only. If you plan on flying, which airport will you be traveling from?</label>
	<input type="text" class="form-control" id="airport" name="airport" value="{{form_info.airport}}">
      </div>

      <div class="form-group {{validations.diet_rest}}">
          <label class="labelSpace control-label" for="dietaryRestrictions">Do you have any dietary restrictions? *</label>
            <div class="radio-inline">
	      <label class="radio-inline">
                <input type="radio" name="dietaryRestrictions" {%if form_info.diet_rest == True %} checked {%endif%} value="True"> Yes  
	      </label>
	      <label class="radio-inline">
                <input type="radio" name="dietaryRestrictions" {%if form_info.diet_rest == False %} checked {%endif%} value="False"> No  
	      </label>
           </div>
      </div>

      <div class="form-group diet-extra">
	<label for="dietaryRestrictionsChoices" class="labelSpace" >What restrictions?</label>
          <div class="checkbox-inline">
	    <label class="checkbox-inline">
              <input type="checkbox" name="dietaryRestrictionsChoices" {%if "Vegetarian" in form_info.diet_types %} checked {%endif%} value="Vegetarian"> Vegetarian
	    </label>
	  </div>
          <div class="checkbox-inline">
	    <label class="checkbox-inline">
              <input type="checkbox" name="dietaryRestrictionsChoices" {%if "Vegan" in form_info.diet_types %} checked {%endif%} value="Vegan"> Vegan
	    </label>
	  </div>
          <div class="checkbox-inline">
	    <label class="checkbox-inline">
              <input type="checkbox" name="dietaryRestrictionsChoices" {%if "Gluten-free" in form_info.diet_types %} checked {%endif%} value="Gluten-free"> Gluten-free
	    </label>
	  </div>
          <div class="checkbox-inline">
	    <label class="checkbox-inline">
              <input type="checkbox" name="dietaryRestrictionsChoices" {%if "Kosher" in form_info.diet_types %} checked {%endif%} value="Kosher"> Kosher
	    </label>
	  </div>
          <div class="checkbox-inline">
	    <label class="checkbox-inline">
              <input type="checkbox" name="dietaryRestrictionsChoices" {%if "Halal" in form_info.diet_types %} checked {%endif%} value="Halal"> Halal
	    </label>
	  </div>
          <div class="checkbox-inline">
	    <label class="checkbox-inline">
              <input type="checkbox" name="dietaryRestrictionsChoices" {%if "Allergy" in form_info.diet_types %} checked {%endif%} value="Allergy"> Food Allergy (please specify below)
	    </label>
	  </div>
     </div>

     <div class="form-group diet-extra">
        <label for="dietaryRestrictionsDetail">Please specify any details about your dietary restrictions: </label>
	<textarea class="form-control" id="dietaryRestrictionsDetail" name="dietaryRestrictionsDetail" rows="2">{{form_info.diet_rest_detail}}</textarea>
     </div>
    -->
     <hr>

      <p><small> We believe that everyone is unique, and we want to get to know you better! Please answer the following short response questions.  </small></p>
      <div class="form-group {{validations.q1}}">
        <label class="control-label" for="Q1">1. Why would you like to come to Hacktech 2021? *</label>
	<textarea  class="form-control" id="Q1" name="Q1" rows="5">{{form_info.q1}}</textarea>
     </div>

     <div class="form-group {{validations.q2}}">
        <label class="control-label" for="Q2">2. It's time to seize your golden opportunity! What would this be? *</label>
	<textarea  class="form-control" id="Q2" name="Q2" rows="5">{{form_info.q2}}</textarea>
     </div>

     <div class="form-group {{validations.q3}}">
        <label class="control-label" for="Q3">3. Write a short haiku about something you did over quarantine. *</label>
	<textarea  class="form-control" id="Q3" name="Q3" rows="5">{{form_info.q3}}</textarea>
     </div>

     <div class="form-group {{validations.q4}}">
        <label class="control-label" for="Q4">4. We want to improve Hacktech -- what would you like to see at Hacktech this year? Is there anything else you want us to know about you? *</label>
	<textarea  class="form-control" id="Q4" name="Q4" rows="5">{{form_info.q4}}</textarea>
     </div>

      <div class="form-group">
          <label for="github">What is your GitHub?</label>
          <div class="input-group">
   	    <span class="input-group-addon" id="github-url">https://github.com/</span>
	    <input type="text" class="form-control" id="github" name="github" aria-describedby="github-url" value="{{form_info.github}}">
        </div>
      </div>

      <div class="form-group">
        <label for="linkedin">What is your LinkedIn?</label>
        <div class="input-group">
   	    <span class="input-group-addon" id="linkedin-url">https://linkedin.com/in/</span>
	    <input type="text" class="form-control" id="linkedin" name="linkedin" aria-describedby="linkedin-url" value="{{form_info.linkedin}}">
        </div>
      </div>

      <div class="form-group {{validations.resume}}">
        <label class="control-label" for="resume">Please upload your resume in PDF format, with naming convention: lastname_firstname.pdf (less than 500 KB only) *</label>
	<div class="input-group">
	  {%if form_info.resume is not none and form_info.resume != ""%}
	    <span class="input-group-addon" id="uploadFileText">Current resume on file: <a href={{form_info.resume_link}}> <u>{{form_info.resume_original_name}}</u> </a></span>
	  {%else%}
    	    <span class="input-group-addon" id="uploadFileText">Upload</span>
	  {%endif%}
    	  <input type="file" class="form-control" id="resume" name="resume" aria-describedby="uploadFileText">
        </div>
      </div>

      <hr>	
      <p><small>  We want Hacktech to be an inclusive and welcoming space for all participants.  The following demographic questions are optional: </small></p>
      <div class="form-group">
          <label for="latino" class="labelSpace">Are you Hispanic or Latino?</label>
            <div class="radio-inline">
	      <label class="radio-inline">
                <input type="radio" name="latino" {%if form_info.latino == True %} checked {%endif%} value="True"> Yes  
	      </label>
	      <label class="radio-inline">
                <input type="radio" name="latino" {%if form_info.latino == False %} checked {%endif%} value="False"> No  
	      </label>
           </div>
      </div>

      <div class="form-group">
	<label for="race">What is your race or ethnicity?  </label> 
        <div class="checkbox-inline">
	    <label class="checkbox-inline">
              <input type="checkbox" name="race" {%if "Asian" in form_info.race_types %} checked {%endif%} value="Asian"> Asian
	    </label>
	  </div>
	  <div class="checkbox-inline">
	    <label class="checkbox-inline">
              <input type="checkbox" name="race" {%if "Black" in form_info.race_types %} checked {%endif%} value="Black"> Black/African
	    </label>
	  </div>
	  <div class="checkbox-inline">
	    <label class="checkbox-inline">
              <input type="checkbox" name="race" {%if "Caucasian" in form_info.race_types %} checked {%endif%} value="Caucasian"> Caucasian
	    </label>
	  </div>
	  <div class="checkbox-inline">
	    <label class="checkbox-inline">
              <input type="checkbox" name="race" {%if "Latino" in form_info.race_types %} checked {%endif%} value="Latino"> Hispanic/Latinx
	    </label>
	  </div>
	  <div class="checkbox-inline">
	    <label class="checkbox-inline">
              <input type="checkbox" name="race" {%if "Native American" in form_info.race_types %} checked {%endif%} value="Native American"> Native American
	    </label>
	  </div>
	  <div class="checkbox-inline">
	    <label class="checkbox-inline">
              <input type="checkbox" name="race" {%if "Other" in form_info.race_types %} checked {%endif%} value="Other"> Other
	    </label>
	  </div>
      </div>

      <div class="form-group">
          <label class="labelSpace" for="gender">What is your gender?</label>
            <div class="radio-inline">
	      <label class="radio-inline">
                <input type="radio" name="gender" {%if form_info.gender == "F" %} checked {%endif%} value="F"> Female  
	      </label>
	      <label class="radio-inline">
                <input type="radio" name="gender" {%if form_info.gender == "M" %} checked {%endif%} value="M"> Male  
	      </label>
	      <label class="radio-inline">
                <input type="radio" name="gender" {%if form_info.gender == "O" %} checked {%endif%} value="O"> Other  
	      </label>
	      <label class="radio-inline">
                <input type="radio" name="gender" {%if form_info.gender == "P" %} checked {%endif%} value="P"> Prefer not to answer  
	      </label>
           </div>
      </div>
      <!-- We're not affiliated with MLH this year, so this shouldn't be necessary?
      <hr> 
      <p><small> Please review the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH code of conduct</a> and  <a href="https://github.com/MLH/mlh-policies/blob/master/data-sharing.md">MLH data sharing provision</a>. *  </small></p>
 
      <div class="form-group col-md-12 {{validations.code_of_conduct}}"> 
	 <div class="checkbox">
		 <label id="mlh-notice" ><input class="control-label" type="checkbox" name="codeOfConduct1" value="True" {%if form_info.code_of_conduct == True %} checked {%endif%}>I have read and agree to the <u><a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">MLH Code of Conduct</a></u>.</label>
	 </div>
	 <div class="checkbox">
		 <label  id="mlh-notice" ><input id="mlh-notice" class="control-label" type="checkbox" name="codeOfConduct2" value="True" {%if form_info.code_of_conduct == True %} checked {%endif%}>I authorize you to share my application/registration information for event administration, ranking, MLH administration, pre- and post-event informational e-mails, and occasional messages about hackathons in-line with the <u><a href="https://mlh.io/privacy">MLH Privacy Policy</a></u>. I further agree to the terms of both the <u><a href="https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions">MLH Contest Terms and Conditions</a></u> and the <u><a href="https://mlh.io/privacy">MLH Privacy Policy</a></u>.</label>
	 </div>
	{% if validations.code_of_conduct != "" %}
	<label class="control-label"><small> You must accept both the MLH code of conduct and the MLH data sharing provision before submitting this application. </small></label>
        {% endif %}
        </div>
      -->
      <p><small>  Are you ready to submit? Once you submit you will not be able to make any changes to your applications. </small></p>
      <button type="submit" class="btn btn-success" value="Save" name="Save" {%if submitted %} disabled {%endif%} >Save</button> 
      <button type="submit" class="btn btn-success" value="Submit" name="Submit" {%if submitted or app_end %} disabled {%endif%} onclick="return confirm('Are you sure you want to submit your application form now? All submissions are final.');">Submit Application!</button>
    </form>
    </div>
</div>
 {% endblock %}
