{% extends "layout.html" %}

{% block styles %}
  {{super()}}
{% endblock %}
{% block page %}
<div class = "jumbotron" style="text-align:center;">
{% if accepted %}

<h2 class="text-center">Hacktech</h2>

<form action="{{url_for('applications.update_status')}}" method="post"}>

  <p class="text-center">
    Woohoo! Congrats on being accepted to hacktech! Please let us know if you plan on coming!
  </p>
   <button type="submit" class="btn btn-default" value="RSVPed" name="RSVPed" disabled >I'll be there!!!</button>
   <button type="submit" class="btn btn-default" value="Declined" name="Declined" disabled >Maybe next time...</button>
</form>
{% else %}

Woops! We're not sure how you wondered onto this page....

{% endif %}
</div>
{% endblock %}
