# Ignore default config file
default_config.py
config.py

# Pycache
*.pyc
__pycache__/

hacktech/modules/applications/resumes/*.pdf
hacktech/modules/waivers/waivers_files/*.pdf
hacktech/modules/waivers/medical_info/*.pdf
.idea/
venv/