{% extends "layout.html" %}

{% block styles %}
  {{super()}}
{% endblock %}
{% block page %}
<div class = "jumbotron">
    <div id="application_form" class="col-md-8 col-md-offset-2">
	    <h3 class="text-center">{{title}}</h3> 
    <p> Please <a href={{link}}> go here </a> to download the fillable PDF, and upload it here</p>
    <form action={{form_info.waiver_update}} method="post"} enctype="multipart/form-data">
      <div class="form-group">
        <label class="control-label" for="resume">Please upload your signed caltech waiver.</label>
	{%if form_info.waiver_url != None and  form_info.waiver_url != "" %}
	<span class="input-group-addon" id="uploadFileText">Current waiver on file: <a href={{form_info.waiver_url}}> <u>{{form_info.waiver_name}}</u> </a></span>
	{% else %}
	<span class="input-group-addon" id="uploadFileText">Upload</span>
	{% endif %}
	<input type="file" class="form-control" name={{form_info.waiver_type}} aria-describedby="uploadFileText" required>
      </div>
      <button type="submit" class="btn btn-success" value="Submit" name="Submit">Submit</button>
    </form>
    </div>
</div>
{% endblock %}
