{% extends "layout.html" %}
{% block page %}
<div class="col-md-4 col-md-offset-4">
<div class="jumbotron">
  <h2 class="text-center">Reset my password!</h2>
  <form action="{{ url_for('auth.reset_password_submit', reset_key=reset_key) }}" method="post">
    <div class="row">
      <div class="col-md-12">
        <label for="email">Email: {{username}}</label>
      </div>
      <div class="col-md-12"> 
	<div class="form-group">
          <label for="password"> New password</label>
          <input type="password" class="form-control" name="password" tabindex="1" autofocus />
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="password"> New password (again)</label>
          <input type="password" class="form-control" name="password2" tabindex="2" />
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-12 text-center">
      <button class="btn btn-primary" type="submit" tabindex="3">Submit</button>
    </div>
  </form>
</div>
</div>
{% endblock page %}
