{% extends "layout.html" %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/copyright.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
{% endblock %}
{% block page %}
<!--
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="./assets/img/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Caltech's annual Hackathon!">
    <title>Hacktech 2020</title>
  </head>
  <body>
-->
  <body>
    <!-- LANDING -->
    <section id="landing">
      <div class="contents">
        <img id="hektek" src="{{  url_for('static', filename='images/logo_2020.png')  }}" alt="Hacktech 2020 Logo" title="Hacktech">
        <h1>Hacktech 2020</h1>
        <h3>March 6-8, 2020 @ Pasadena, CA</h3>
	<!-- <h3>Apply by Jan 31th! </h3> -->
        <!-- PRE-APPLICATION INTEREST FORM -->
        <div id="form">
          <!-- <input type="email" id="hackerEmail" placeholder="Email"> -->
        <button type="btn btn-primary" id="updatebtn" onclick="window.open('https://forms.gle/fHUbqy6qUGcbjnW6A')">Receive Updates</button></div>
        <!-- <div id="form"><button type="btn btn-primary" id="updatebtn" onclick="window.open('[INTEREST_FORM_LINK]')">Apply Here on 12/9!</button>
        <button id="apply" onclick="window.open('https://forms.gle/fHUbqy6qUGcbjnW6A');">Receive Updates</button> -->
        <!-- APPLICATION -->
        <!-- <button id="apply" onclick="location.href='https://hacktechteam.typeform.com/to/wsZh6R';" style="cursor:pointer;">Apply</button> -->
        <!-- POST-APPLICATION -->
        <!-- <button id="apply">Applications are closed!</button> -->
        <!-- <button id="apply">Decisions have been sent out!</button> -->
        <!-- POST-EVENT -->
        <!-- <button id="apply">Thank you for coming!</button> -->
      </div>
    </section>

    <!-- INTRO -->
    <section id="intro">
      <div class="contents">
        <p><b>This is Hacktech.</b></p>
        <p>A place where, given a total of 36 thrilling hours with your team, your idea, and our fuel (in the form of snacks, drinks, and more), you produce a fantastic project, while forming lasting relationships and chugging more caffeine than you ever thought possible.</p>
      </div>
    </section>

    <!-- FAQ -->
    <section id="faq">
      <div class="contents">
        <h3>FAQ</h3>
        <div class="faqcolumn">
          <div class="faqelem">
            <div class="question">Tell me more!</div>
            <div class="answer">Hacktech is Caltech's premier intercollegiate hackathon: for 36 hours, nearly 450 awesome student hackers will identify and build innovative, technological solutions to solve problems in a variety of disciplines.</div>
          </div>
          <div class="faqelem">
            <div class="question">Who can come?</div>
            <div class="answer">Any undergraduate or graduate students from anywhere in the world. We admit high school students on a case-by-case basis, and also welcome beginners - Hacktech is meant to be a learning experience! We want you to come here to have fun and leave having learned something.</div>
          </div>
          <div class="faqelem">
            <div class="question">How do teams work?</div>
            <div class="answer">You can sign up as a team of up to four members. Make sure that all of your team members submit an application! If you don't have a team before the event, don't fret! We will help you find fellow hackers to work with once you arrive.</div>
          </div>
          <div class="faqelem">
            <div class="question">What should I bring?</div>
            <div class="answer">A student ID, a laptop, and a charger are the only necessities. We recommend you bring clothes, toiletries, and a sleeping bag as well!</div>
          </div>
          <div class="faqelem">
            <div class="question">What can I create?</div>
            <div class="answer">Absolutely anything you want - websites, apps, hardware, you name it. We encourage you to go above and beyond the typical software project and make something that combines software with finance / medicine / electronics / science!</div>
          </div>
          <div class="faqelem">
            <div class="question">How much will it cost?</div>
            <div class="answer">It's absolutely free! We'll be providing you with meals, a place to hack, and swag. We will also be offering travel reimbursements on a case-by-case basis!</div>
          </div>
        </div>
        <div class="faqcolumn">
          <div class="faqelem">
            <div class="question">How will I get there?</div>
            <div class="answer">We will be sending buses free of charge to certain universities in SoCal and NorCal. We may also be giving out travel reimbursements for flights to out-of-state hackers!</div>
          </div>
          <div class="faqelem">
            <div class="question">Anything else I should know?</div>
	    <div class="answer">There are a few things we don't encourage; you should refer to the <u><a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">MLH Code of Conduct here</a></u> for some guidelines to follow. Also, be smart - don't use/bring anything that you obviously shouldn't, including: alcohol, open flames, firearms, katanas, candy canes, maces, bassoons, etc.</div>
          </div>
          <div class="faqelem">
            <div class="question">Sounds great, how do I apply?</div>
            <!-- <div class="answer">Applications are closed. Acceptances have been sent out :)</div> -->
            <!-- <div class="answer">Applications will open in December!</div> -->
            <div class="answer">Applications will open in early December. Please click the "Receive Updates" button to stay connected! </div>
          </div>
          <div class="faqelem">
            <div class="question">What if I'm a Caltech student?</div>
            <div class="answer">The application process is no different for Caltech students.</div>
          </div>
          <div class="faqelem">
            <div class="question">Help!</div>
            <div class="answer">Shoot us an email at team@hacktech.io and we'll get back to you before you can say "Hacktech is awe-!"</div>
          </div>
        </div>
      </div>
    </section>

    <!-- SPONSORS -->
    <section id="sponsors">
      <div class="contents">
        <h3>Hacktech 2019 Sponsors</h3>
        <h5>Interested in sponsoring for 2020? Let us know at <a href="mailto:sponsors@hacktech.io">sponsors@hacktech.io</a>!</h5>
        <img class="sponsor" src="{{  url_for('static', filename='images/logo/deshaw.jpg')  }}" alt="D.E. Shaw Logo">
        <img class="sponsor" src="{{  url_for('static', filename='images/logo/google.png')  }}" alt="Google Logo">
        <img class="sponsor" src="{{  url_for('static', filename='images/logo/wolfram.png')  }}" alt="Wolphram Logo">
        <img class="sponsor" src="{{  url_for('static', filename='images/logo/citadel.png')  }}" alt="Citadel Logo">
        <img class="sponsor" src="{{  url_for('static', filename='images/logo/heal.png')  }}" alt="Heal Logo">
        <img class="sponsor" src="{{  url_for('static', filename='images/logo/ebay.png')  }}" alt="Ebay Logo">
        <img class="sponsor" src="{{  url_for('static', filename='images/logo/linode.png')  }}" alt="Linode Logo">
        <img class="sponsor" src="{{  url_for('static', filename='images/logo/vatic_labs.png')  }}" alt="Vatic Labs Logo">
        <img class="sponsor" src="{{  url_for('static', filename='images/logo/uber.png')  }}" alt="Uber Logo">
        <img class="sponsor" src="{{  url_for('static', filename='images/logo/facebook.png')  }}" alt="Facebook Logo">
	<a href="http://hackp.ac/mlh-stickermule-hackathons"><img class="sponsor" src="{{  url_for('static',filename='images/logo/sticker_mule.png')  }}""></a>
        <br><br><br><h3>Hacktech 2019 Partners</h3>
        <img class="sponsor" src="{{  url_for('static', filename='images/logo/mlh_logo.png')  }}" alt="MLH Logo">
        <!-- <br><img class="sponsor" src="assets/img/logo/cmslogo.png"/> -->
        <img class="sponsor" src="{{  url_for('static', filename='images/logo/caltech.png')  }}" alt="Caltech Logo">
      </div>
    </section>
  <!-- MLH BADGE -->
  {% endblock %}
