{% extends "layout.html" %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" /> {% endblock %} {% block scripts %} {{ super() }}
<script src="{{ url_for('static', filename='js/copyright.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
{% endblock %} {% block page %}
<!--
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:image"              content="{{  url_for('static', filename='images/preview.png')  }}" />
    <link rel="shortcut icon" type="image/x-icon" href="./assets/img/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Caltech's annual Hackathon!">
    <title>Hacktech 2021</title>
  </head>
  <body>
-->

<body>
    <!-- <a id="mlh-trust-badge"
        href="https://mlh.io/seasons/na-2021/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2021-season&utm_content=white"
        target="_blank"><img
            src="https://s3.amazonaws.com/logged-assets/trust-badge/2021/mlh-trust-badge-2021-white.svg"
            alt="Major League Hacking 2021 Hackathon Season" style="width:100%;position: absolute;"></a> -->
    <!-- LANDING -->
    <section id="landing">
        <div class="contents">
            <div id="center_info">
                <div id="hektek" style="background-image: url('{{  url_for('static', filename='images/hacktech_text.png')  }}');"></div>
                <h1 id="mobile_header">Hacktech 2022</h1>
                <h3>COMING SOON <span class="light-text">|</span> COMING SOON <span class="light-text">|</span> Format TBD</h3>
                <!-- <h3>Check Discord for Event Information</h3> -->
                <!-- PRE-APPLICATION INTEREST FORM -->
                <div id="form">
                    <!-- <input type="email" id="hackerEmail" placeholder="Email"> -->
                    <button type="btn btn-primary" id="updatebtn" onclick="window.open('https://forms.gle/cibVHXvhHgjhkSUEA')">Receive Updates</button></div>
                    
                    <!--
                    {%if 'username' in session%}
                    <button id="apply" onclick="location.href='https://hacktech.app/applications/status';" style="cursor:pointer;">My Status</button>
                    {%endif%}
                    <button id="schedule" onclick="location.href='https://hacktech.app/schedule';" style="cursor:pointer;">Live Schedule</button>
                    -->
                    <!--
                    <button id="apply" onclick="location.href='https://hacktech.app/login';" style="cursor:pointer;">Apply</button> -->
                    <!-- <div id="form"><button type="btn btn-primary" id="updatebtn" onclick="window.open('[INTEREST_FORM_LINK]')">Apply Here on 12/9!</button>
        <button id="apply" onclick="window.open('https://forms.gle/fHUbqy6qUGcbjnW6A');">Receive Updates</button> -->
                    <!-- APPLICATION -->
                    <!-- <button id="apply" onclick="location.href='https://hacktechteam.typeform.com/to/wsZh6R';" style="cursor:pointer;">Apply</button> -->
                    <!-- POST-APPLICATION -->
                    <!-- <button id="apply">Applications are closed!</button> -->
                    <!-- <button id="apply">Decisions have been sent out!</button> -->
                    <!-- POST-EVENT -->
                    <!-- <button id="apply">Thank you for coming!</button> -->
                </div>
            </div>

    </section>

    <!-- INTRO -->
    <section id="intro">
        <div class="contents">
            <h3 class="section-header">This is Hacktech.</h3>
            <p>A place where, given a total of 36 thrilling hours with your team, your idea, and our fuel (in the form of snacks, drinks, and more), you produce a fantastic project, while forming lasting relationships and chugging more caffeine than you
                ever thought possible.</p>
        </div>
    </section>

    <!-- FAQ -->
    <section id="faq">
        <div class="contents">
            <h3 class="section-header" id="faq-header">FAQ</h3>
            <div class="faqcolumn">
                <div class="faqelem">
                    <div class="question">Tell me more!</div>
                    <div class="answer">Hacktech is Caltech's premier intercollegiate hackathon: for 36 hours, nearly 450 awesome student hackers will identify and build innovative, technological solutions to solve problems in a variety of disciplines.</div>
                </div>
                <div class="faqelem">
                    <div class="question">Who can come?</div>
                    <div class="answer">Any undergraduate or graduate students from anywhere in the world. We admit high school students (must be over 18 years old) on a case-by-case basis, and also welcome beginners - Hacktech is meant to be a learning experience! We want
                        you to come here to have fun and leave having learned something.</div>
                </div>
                <div class="faqelem">
                    <div class="question">How do teams work?</div>
                    <div class="answer">At the event, you can submit a project as a team of up to four members. Make sure that all of your team members submit an application! If you don't have a team before the event, don't fret! We will help you find fellow hackers to work
                        with once you arrive.</div>
                </div>
                <div class="faqelem">
                    <div class="question">What can I create?</div>
                    <div class="answer">Absolutely anything you want - websites, apps, hardware, you name it. We encourage you to go above and beyond the typical software project and make something that combines software with finance / medicine / electronics / science!</div>
                </div>
                <div class="faqelem">
                    <div class="question">How much will it cost?</div>
                    <div class="answer">It's absolutely free! We hope to provide swag and prizes without any cost for our hackers.</div>
                </div>
            </div>
            <div class="faqcolumn">
                <div class="faqelem">
                    <div class="question">Anything else I should know?</div>
                    <div class="answer">There are a few things we don't encourage; you should refer to the <u><a
                                href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">MLH Code of
                                Conduct here</a></u> for some guidelines to follow. Also, be smart - don't use/bring anything that you obviously shouldn't, including: alcohol, open flames, firearms, katanas, candy canes, maces, bassoons, etc.</div>
                </div>
                <div class="faqelem">
                    <div class="question">Sounds great, how do I apply?</div>
                    <div class="answer">Applications are currently open! Please create an account and login to submit your application! :)</div>
                    <!-- <div class="answer">Applications are closed. Acceptances have been sent out :)</div> -->
                    <!-- <div class="answer">Applications will open in early December. Please click the "Receive Updates" button to stay connected! </div> -->
                </div>
                <div class="faqelem">
                    <div class="question">What if I'm a Caltech student?</div>
                    <div class="answer">The application process is no different for Caltech students.</div>
                </div>
                <div class="faqelem">
                    <div class="question">When will applications open/when will I hear back?</div>
                    <div class="answer">Applications are open now, so register as soon as possible! The decisions will be made on a rolling basis.</div>
                </div>
                <div class="faqelem">
                    <div class="question">Help!</div>
                    <div class="answer">Shoot us an email at team@hacktech.app and we'll get back to you before you can say "Hacktech is awes-!"</div>
                </div>
            </div>
        </div>
    </section>

    <!-- SPONSORS -->
    <section id="sponsors">
        <div class="contents">
            <h3 class="section-header">2021 Sponsors</h3>
            <a href="https://www.google.com/cloud"><img class="sponsor" src="{{  url_for('static', filename='images/logo/google.png')  }}" alt="Google Logo"></a>
            <a href="https://www.echoar.xyz/"><img class="sponsor" src="{{  url_for('static', filename='images/logo/echoARdark.png')  }}" alt="echoAR Logo"></a>
            <a href="https://www.1517fund.com/"><img class="sponsor" src="{{  url_for('static', filename='images/logo/1517.png')  }}" alt="1517 Logo"></a>
            <!-- <h5>Interested in sponsoring for 2022? Let us know at <a href="mailto:sponsors@hacktech.app">sponsors@hacktech.app</a>!</h5> -->
            <!-- 2020 sponsors
            <a href="https://www.esri.com/"><img class="sponsor" src="{{  url_for('static', filename='images/logo/esri.jpg')  }}" alt="Esri Logo"></a>
            <a href="https://www.google.com/cloud"><img class="sponsor" src="{{  url_for('static', filename='images/logo/google.png')  }}" alt="Google Logo"></a>
            <a href="https://www.oracle.com/index.html"><img class="sponsor" src="{{  url_for('static', filename='images/logo/oracle.png')  }}" alt="Oracle Logo"></a>
            <a href="https://www.citadel.com/"><img class="sponsor" src="{{  url_for('static', filename='images/logo/citadel.png')  }}" alt="Citadel Logo"></a>
            <a href="https://cms.officeally.com/"><img class="sponsor" src="{{  url_for('static', filename='images/logo/officeally.jpg')  }}" alt="Office Ally Logo"></a>
            <a href="https://www.ebay.com/"><img class="sponsor" src="{{  url_for('static', filename='images/logo/ebay.png')  }}" alt="Ebay Logo"></a>
            <a href="https://www.idtech.com/"><img class="sponsor" src="{{  url_for('static', filename='images/logo/idtech.png')  }}" alt="idtech Logo"></a>
            <a href="https://www.keystonestrategy.com/"><img class="sponsor" src="{{  url_for('static', filename='images/logo/keystone.png')  }}" alt="Keystone Logo"></a>
            <a href="https://www.bluebeam.com/"><img class="sponsor" src="{{  url_for('static', filename='images/logo/bluebeam.jpg')  }}" alt="Bluebeam Logo"></a>
            <a href="https://www.facebook.com/"><img class="sponsor" src="{{  url_for('static', filename='images/logo/facebook.png')  }}" alt="Facebook Logo"></a>
            <a href="http://hackp.ac/mlh-stickermule-hackathons"><img class="sponsor"
                    src="{{  url_for('static',filename='images/logo/sticker_mule.png')  }}""></a> -->
            <br><br>
            <h3 class=" section-header">Hacktech 2021 Partners</h3>
            <!-- <a href="https://mlh.io/"><img class="sponsor" src="{{  url_for('static', filename='images/logo/mlh_logo.png')  }}" alt="MLH Logo"></a>
            <br><img class="sponsor" src="assets/img/logo/cmslogo.png"/> -->
            <a href="https://pinnacle.us.org/"><img class="sponsor" src="{{  url_for('static', filename='images/logo/Pinnacle.png')  }}" alt="Pinnacle Logo"></a>
            <a href="https://www.caltech.edu/"><img class="sponsor" src="{{  url_for('static', filename='images/logo/caltech.png')  }}" alt="Caltech Logo"></a>
        </div>
    </section>
    <!-- MLH BADGE -->
    <!-- γδβγ -->
    {% endblock %}