{% extends "layout.html" %}

{% block page %}
<div class="col-md-6 col-md-offset-3" style="float: none">
  <div class="jumbotron">
    <h2 class="text-center">Create an account</h2>
    <form action="{{ url_for('account.create_account_submit') }}" method="post">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="email" class="required">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" required autofocus/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="password" class="required">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="password2" class="required">Confirmed Password</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Enter your password" required/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="first_name" class="required">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter your first name" required/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="middle_name">Middle Name</label>
            <input type="text" class="form-control" id="middle_name" name="middle_name" placeholder="Enter your middle name" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="last_name" class="required">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter your last name" required/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="preferred_name">Preferred Name</label>
            <input type="text" class="form-control" id="preferred_name" name="preferred_name" placeholder="Enter your perferred name"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="phone" class="required">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your phone" required/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock page %}
